html{
	color:yellow;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}
table{
	width:550px;
	height:500px;
	background-color:#222536;
	margin:0 auto;
}
.sign{
	position:absolute;
	margin-top:-20px;
	margin-left:20px;
}
.b1{
	width:550px;
	height:50px;
}
.bottom{
	background-color:#DD8703;
}
.Box{
	position:relative;
}
.submit{
	background-color:#4e9a06;
	color:white;
	border:none;
	border-radius:4px;
	padding:8px;
	position:absolute;
	margin-top:-15px;
	margin-left:-180px;
}
.submit:disabled {
    background: #8ae234;
}
.cancel{
	background-color:#f33131;
	color:white;
	border:none;
	border-radius:4px;
	padding:8px;
	position:absolute;
	margin-top:-15px;
	margin-left:-100px;
}
.DataDisplay{
	display:none;
}